.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 8% 0;
}

.form_main {
  width: 50%;
}

.form_main h2 {
  text-align: center;
}

.has-float-label {
  /* margin-top: 4%; */
  /* width: 50%; */
  font-size: 75%;
  margin: 4% 2% 1% 2%;
}

.input_field {
  width: 100%;
}

.floating_placeholder {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
  opacity: 0.7;
}

.input_field:focus ~ .floating_placeholder,
.input_field:not(:focus):valid .floating_placeholder {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 1px;
  opacity: 1;
}

/* -------- */

.form_btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  cursor: pointer;
}

.form_btn img {
  width: 30px;
}

.form_btn img:hover {
  transform: scale(1.1);
}

