.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8% 0;
}

.form_tracker {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.form_tracker div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
}

.form_tracker p {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  opacity: .2;
}

.form_main {
  width: 50%;
}

.form_main h2 {
  text-align: center;
}

.has-float-label {
  font-size: 75%;
  margin: 4% 2% 1% 2%;
}

.input_field {
  width: 100%;
}

.floating_placeholder {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
  opacity: 0.7;
}

.input_field:focus ~ .floating_placeholder,
.input_field:not(:focus):valid .floating_placeholder {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 1px;
  opacity: 1;
}

/* -------- */

.form_btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  height: 100%;
}

.form_btn img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.submit_btn {
  cursor: pointer;
}

.submit_btn:hover {
  transform: scale(1.05);
}

.submit_btn:active {
  transform: scale(.98);
}

.form_btn img:hover {
  transform: scale(1.1);
}

.form_btn img:active {
  transform: scale(.98);
}
