.article {
  padding-top: 8%;
}

.article_list_map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article_top_map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article a,
.article_top_map a {
  display: inline-block;
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.article a:hover,
.article_top_map a:hover {
  opacity: 0.8;
}

.article_top_map h2 {
  color: rgb(82, 82, 82);    
  font-size: 1rem;
  display: list-item;
  list-style-image: url('https://image.flaticon.com/icons/svg/171/171322.svg');
}

.article_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1000px) {
    .article_wrapper {
        width: 80%;
    }
}
