.article {
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* article cards */

.article_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_articles {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter_content {
  display: flex;
flex-wrap: wrap;
justify-content: center;
}

.article_list_map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  margin: 1%;
  overflow: hidden;
  margin-bottom: 1%;
  border-bottom: 1px solid rgb(189, 189, 189);
}

.alm_content p:nth-of-type(2) {
  color: #B67A46;
} 

.article_list_map img {
  border-radius: 3%;
  transition: 0.5s;
  height: 300px;
  width: 500px;
  top: 0;
  opacity: 0.9;
  
}

.alm_content {
  height: 90%;
  background-color: #fff;
  margin: 2%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_list_map h2 {
  font-size: 1.5rem;
}

.article_list_map h2:hover {
  opacity: .8;
}





/* ---- */

.article_top_map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article a,
.article_top_map a {
  display: inline-block;
  color: rgb(82, 82, 82);
  text-decoration: none;
}

.article_top_map h2 {
  color: rgb(82, 82, 82);
  font-size: 1rem;
  display: list-item;
  list-style-image: url('https://image.flaticon.com/icons/svg/171/171322.svg');
}

.article_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article_search {
  width: 500px;
  height: 30px;
  border: 1px solid grey;
  border-bottom: 2px solid #000;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.article_search:focus {
  outline: none;
}

@media (max-width: 650px) {
  .article_list_map {
    /* height: 250px; */
    width: 400px;
  }
  .article_list_map img {
    height: 250px;
    width: 400px;    
  }

  .alm_content p:nth-of-type(1) {
    font-size: .8rem;
  }

.article_search {
  width: 400px;
}  

  .article_list_map h2 {
    font-size: 0.8rem;
  }
}

@media (max-width: 430px) {
  .article_list_map {
    width: 300px;
  }
  .article_list_map img{
    height: 200px;
    width: 300px;    
  }


.article_search {
  width: 300px;
}  
.alm_content p:nth-of-type(1) {
  font-size: .6rem;
}

  .article_list_map h2 {
    font-size: 0.8rem;
  }
}