.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.bio_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  width: 100%;
  opacity: 1;
  background-color: #fdfdfd;
}

.bio_name_sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.bio_sub p {
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 2px;
}

.about_name {
  text-align: center;
  height: 100%;
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: rgb(60, 60, 60);
}

.about_container {
  background-color: #fdfdfd;
  padding: 5% 10% 0 10%;
  margin-bottom: 2%;
  opacity: 1;
}

.profile_pic {
  float: left;
  margin: 1% 2%;
}

.about_container p {
  font-size: 0.9rem;
}

.about_ed {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px rgb(216, 216, 216);
  padding: 1%;
  height: 100%;
}

.about_ed_sub1 {
  display: flex;
}

.btm_line_container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0 5%;
width: 100%;
}

.btm_a_line {
  width: 20px;
  border: 1px solid rgb(173, 173, 173);
  background-color: rgb(173, 173, 173);
  margin: 5%;
}

.education1 {
  position: relative;
}

.education_img {
  width: 100px;
  position: absolute;
  z-index: -1;
  opacity: .3;
}

.img1 {
  left: 5%;
}

.img2 {
  right: 5%;
}

.about_ed p {
  font-size: 0.9rem;
}

.family_img {
  width: 400px;
}

.line_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2%;
}

.a_line {
  width: 40px;
  border: 1px solid rgb(173, 173, 173);
  background-color: rgb(173, 173, 173);
  margin: 5%;
}

.about_bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

@keyframes fadeInOutAbout {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.3;
  }
}

@media (max-width: 1100px) {
.about_bottom {
  flex-direction: column;
}

.about_ed {
  margin: 2% 0;  
}
}

@media (max-width: 800px) {
  .bio_name_sub {
    margin-top: 4%;
  }

  .about_name {
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .bio_sub p {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 650px) {
  .about_name {
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .bio_sub p {
    font-size: 0.6rem;
  }

  .profile_pic {
    float: none;
  }

  .about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about_container p {
    text-align: justify;
    font-size: 0.7rem;
  }

  .about_ed p {
    font-size: 0.7rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .bio_name_sub {
    margin-top: 8%;
  }
}
