.contact {
    padding-top: 8%;
    font-family: 'Roboto', sans-serif;
  }
  
  .contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }