.contact {
    padding-top: 8%;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
  }
  
  .contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    width: 100%;
    
  }

  .contact_form {
    text-decoration: none;
    color: rgb(26, 26, 26);
  }

  .contact_sub > div {
    display: flex;
    justify-content: space-around;
    width: 100px;
  }

  .social_icon {
    height: 35px;
  }

  .social_icon:hover {
    transform: scale(1.02)
  }

  .twitter {
    border-radius: 50%;
  }

  .contact_email {
    text-decoration: none;
    letter-spacing: 2px;
    color: #000;
    cursor: pointer;
    /* margin: 0 5%; */
  }
  
  .cont_email:hover {
    transform: scale(1.02)
  }
  
  .contact_holder p {
    text-align: center;
    letter-spacing: 2px;
  }
