.requests {
  display: flex;
  justify-content: center;
  align-items: center;
}

.requests_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 10%;
}

.request_map {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgb(128, 128, 128);
  padding: 1%;
  margin: 1% 1% 5% 1%;
  width: 100%;
}

.request_title {
  display: flex;
  justify-content: space-between;
}

.request_sub {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px rgb(128, 128, 128);
  padding: 0 5% 1% 5%;
  margin: 0 5%;
}

.request_sub h3 {
  border-bottom: .5px solid rgb(161, 161, 161);
  padding-bottom: 1%;
}

.request_sub p {
    margin: .5% 0;
}

.email_holder {
  display: flex;
  align-items: center;
}

.email_holder > div {
  margin: .5% 2%;
  
}

.request_email {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.email_icon {
  height: 25px;
}

.email_icon:hover {
    transform: scale(1.05)
}
