.car_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.lib_carousel {
  display: flex;
  justify-content: center;
  width: 80%;
}

.lib_carousel > div {
  text-align: center;
  padding: 1%;
}

.lib_carousel a {
  text-decoration: none;
}

.lib_carousel h2 {
  margin: 2% 0;
  color: #000;
}

.lib_carousel img {
  width: 100%;
}
