.blog_main {
  min-height: 90vh;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.blog_main input:focus,
textarea:focus {
  outline: none;
}

.blog_title {
  width: 50vw;
  height: 2em;
  font-size: 1em;
  margin: auto;
}

.blog_main button {
    width: max-content;
}

.blog_main h1 {
  margin: 0;
}

.test_blog {
  white-space: pre-line;
}

.font_style {
  display: flex;
}

pre {
  font-family: sans-serif;
  white-space: pre-wrap;

}

#blog,
.blog_text {
  width: 80vw;
  min-height: 30vh;
  margin: auto;
}

.blog_text {
  box-shadow: 1px 1px 5px 5px #a7a7a7;
}

.blog_preview {
  width: 80vw; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: auto;
  margin-bottom: inherit;
  margin-top: 5vh;
} 

.blog_preview span { 
   background:#fff; 
   padding:0 10px; 
}

/* Image Uploader */

.image_uploader {
  width: 40vw;
  min-height: 40vh;
  margin: 3vh auto;
  border: 1px dotted #9f9f9f;
}

.image_uploader_container {
  overflow: auto;
}

.ce_image_dropzone {
  height: 225px;
  width: 225px;
  border-radius: 1%;
  border: 1px dotted black;
}

.ce_dropzone_text {
  text-align: center;
  padding: 5% 2%;
}

.ep_upload_pic {
  height: 100%;
  width: 100%;
}


/* individual */

.blog_cont {
  min-height: 100vh;
  padding-top: 60px;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_cont h1 {
  text-align: center;
  color: #525252
}

.blog_cont img {
  height: 60vh;
  width: 70vw;
  margin: 0 auto;
}

.blog_sub {
  width: 70vw;
  margin: auto;
  text-align: right;
}

.individual {
  margin-top: 5vh;
  box-shadow: 0 4px 2px -2px #bfbfbf;
  padding-bottom: 5vh;
}

mark {
  background: none;
  color: #b67a46;
  /* color: #2a9e7b; */
}

.blog_mark {
  opacity: .4;
}