.blog_main {
  min-height: 90vh;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
}

.blog_main button {
    width: max-content;
}

.blog_main h1 {
  margin: 0;
}

.test_blog {
  white-space: pre-line;
}

.font_style {
  display: flex;
}

pre {
  font-family: sans-serif;
  white-space: pre-wrap;

}

#blog,
.blog_text {
  width: 80vw;
  height: 30vh;
  margin: auto;
}

.blog_text {
  box-shadow: 1px 1px 5px 5px #a7a7a7;
}